################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PDFToWord/.vs/PDFToWord/v14
/PDFToWord/bin/Debug
/PDFToWord/obj/Debug
